s3_to_Aurora_PostgreSQL/Import_S3_To_Aurora_PostgreSQL.json
{
  "flowContents": {
    "identifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
    "instanceIdentifier": "5f99edcc-018e-1000-f2f4-ff36291fe1d2",
    "name": "Import S3 To Aurora PostgreSQL",
    "comments": "",
    "position": {
      "x": 312.0,
      "y": 256.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "e7da5d42-babc-3da4-9b1f-6f4d9a8a8b8c",
        "instanceIdentifier": "5f9aa62d-018e-1000-cdd7-62311db521ce",
        "name": "ListS3",
        "comments": "",
        "position": {
          "x": -168.0,
          "y": 464.0
        },
        "type": "org.apache.nifi.processors.aws.s3.ListS3",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.25.0"
        },
        "properties": {
          "Proxy Host": null,
          "list-type": "1",
          "et-initial-listing-target": "all",
          "prefix": "nifi-read-csv/",
          "record-writer": null,
          "proxy-configuration-service": null,
          "Endpoint Override URL": null,
          "et-time-window": "3 hours",
          "custom-signer-class-name": null,
          "requester-pays": "false",
          "custom-signer-module-location": null,
          "listing-strategy": "timestamps",
          "Signer Override": "Default Signature",
          "delimiter": null,
          "min-age": "0 sec",
          "write-s3-user-metadata": "false",
          "max-age": null,
          "AWS Credentials Provider service": "0ea86d8c-ec60-3311-b090-80f6ac0766ec",
          "Listing Batch Size": "100",
          "SSL Context Service": null,
          "write-s3-object-tags": "false",
          "Bucket": "zzeng-test-bucket",
          "Communications Timeout": "30 secs",
          "Region": "ap-northeast-1",
          "Credentials File": null,
          "et-state-cache": null,
          "proxy-user-name": null,
          "Proxy Host Port": null,
          "use-versions": "false"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "list-type": {
            "name": "list-type",
            "displayName": "List Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "et-initial-listing-target": {
            "name": "et-initial-listing-target",
            "displayName": "Entity Tracking Initial Listing Target",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "prefix": {
            "name": "prefix",
            "displayName": "Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Endpoint Override URL": {
            "name": "Endpoint Override URL",
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "et-time-window": {
            "name": "et-time-window",
            "displayName": "Entity Tracking Time Window",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "requester-pays": {
            "name": "requester-pays",
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "listing-strategy": {
            "name": "listing-strategy",
            "displayName": "Listing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Signer Override": {
            "name": "Signer Override",
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "delimiter": {
            "name": "delimiter",
            "displayName": "Delimiter",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-user-password": {
            "name": "proxy-user-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "min-age": {
            "name": "min-age",
            "displayName": "Minimum Object Age",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "write-s3-user-metadata": {
            "name": "write-s3-user-metadata",
            "displayName": "Write User Metadata",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-age": {
            "name": "max-age",
            "displayName": "Maximum Object Age",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "AWS Credentials Provider service": {
            "name": "AWS Credentials Provider service",
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Listing Batch Size": {
            "name": "Listing Batch Size",
            "displayName": "Listing Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "write-s3-object-tags": {
            "name": "write-s3-object-tags",
            "displayName": "Write Object Tags",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Bucket": {
            "name": "Bucket",
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Region": {
            "name": "Region",
            "displayName": "Region",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "et-state-cache": {
            "name": "et-state-cache",
            "displayName": "Entity Tracking State Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "proxy-user-name": {
            "name": "proxy-user-name",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Proxy Host Port": {
            "name": "Proxy Host Port",
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-versions": {
            "name": "use-versions",
            "displayName": "Use Versions",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "5 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "2abd6e8d-a013-39f6-8c9f-e875a6fe2ff7",
        "instanceIdentifier": "5fd9e78d-018e-1000-11d5-66cb469003b9",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": {
          "x": -168.0,
          "y": 936.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.25.0"
        },
        "properties": {
          "not_a_folder": "${filename:endsWith('/'):not()}",
          "Routing Strategy": "Route to Property name"
        },
        "propertyDescriptors": {
          "not_a_folder": {
            "name": "not_a_folder",
            "displayName": "not_a_folder",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "6e5bd3ad-a63d-393a-a61a-6b6d585b7dc2",
        "instanceIdentifier": "60078984-018e-1000-d040-4ea0cd13759f",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": 712.0,
          "y": 464.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.25.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "47d7220f-422d-3a09-9ee8-61227efc13f0",
        "instanceIdentifier": "5fad93ff-018e-1000-f38e-6479bd421a84",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": 248.0,
          "y": 936.0
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.25.0"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "table-schema-cache-size": "100",
          "put-db-record-schema-name": "public",
          "put-db-record-field-containing-sql": null,
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "put-db-record-catalog-name": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "adba7f83-5ab7-3516-84dd-3de160add517",
          "put-db-record-query-timeout": "0 seconds",
          "rollback-on-failure": "false",
          "put-db-record-statement-type": "INSERT",
          "db-type": "PostgreSQL",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-table-name": "trans",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "5000",
          "put-db-record-record-reader": "1810fd72-2781-3752-a19e-ebc1a20f43ba",
          "Data Record Path": null
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "63820e9b-b3d8-3fed-98ff-8a03a4c6d6f4",
        "instanceIdentifier": "5ffbd920-018e-1000-fb8f-7c2a6e4951cd",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": -168.0,
          "y": 1192.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.25.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "db39ddd7-eb0a-38ba-bfac-af2ef042304e",
        "instanceIdentifier": "5f9abc26-018e-1000-2c25-7b163d38278c",
        "name": "FetchS3Object",
        "comments": "",
        "position": {
          "x": 256.0,
          "y": 464.0
        },
        "type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.25.0"
        },
        "properties": {
          "Proxy Host": null,
          "range-length": null,
          "range-start": null,
          "proxy-configuration-service": null,
          "Endpoint Override URL": null,
          "custom-signer-class-name": null,
          "requester-pays": "false",
          "Object Key": "${filename}",
          "AWS Credentials Provider service": "0ea86d8c-ec60-3311-b090-80f6ac0766ec",
          "custom-signer-module-location": null,
          "SSL Context Service": null,
          "Signer Override": "Default Signature",
          "Bucket": "zzeng-test-bucket",
          "Version": null,
          "Communications Timeout": "30 secs",
          "Region": "ap-northeast-1",
          "Credentials File": null,
          "proxy-user-name": null,
          "Proxy Host Port": null,
          "encryption-service": null
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "range-length": {
            "name": "range-length",
            "displayName": "Range Length",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "range-start": {
            "name": "range-start",
            "displayName": "Range Start",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Endpoint Override URL": {
            "name": "Endpoint Override URL",
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "requester-pays": {
            "name": "requester-pays",
            "displayName": "Requester Pays",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Object Key": {
            "name": "Object Key",
            "displayName": "Object Key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "AWS Credentials Provider service": {
            "name": "AWS Credentials Provider service",
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Signer Override": {
            "name": "Signer Override",
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Bucket": {
            "name": "Bucket",
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Version": {
            "name": "Version",
            "displayName": "Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-user-password": {
            "name": "proxy-user-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Region": {
            "name": "Region",
            "displayName": "Region",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "proxy-user-name": {
            "name": "proxy-user-name",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Proxy Host Port": {
            "name": "Proxy Host Port",
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "encryption-service": {
            "name": "encryption-service",
            "displayName": "Encryption Service",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "1f877789-243d-301d-b20e-d3c67d48fd53",
        "instanceIdentifier": "6007a257-018e-1000-3417-fd9017c80de7",
        "name": "",
        "source": {
          "id": "47d7220f-422d-3a09-9ee8-61227efc13f0",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "5fad93ff-018e-1000-f38e-6479bd421a84"
        },
        "destination": {
          "id": "6e5bd3ad-a63d-393a-a61a-6b6d585b7dc2",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "60078984-018e-1000-d040-4ea0cd13759f"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "b0497518-5e9b-309e-94a7-b09a781a8a5d",
        "instanceIdentifier": "5ffbe874-018e-1000-cd5c-c7cbc8785e17",
        "name": "",
        "source": {
          "id": "2abd6e8d-a013-39f6-8c9f-e875a6fe2ff7",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "5fd9e78d-018e-1000-11d5-66cb469003b9"
        },
        "destination": {
          "id": "63820e9b-b3d8-3fed-98ff-8a03a4c6d6f4",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "5ffbd920-018e-1000-fb8f-7c2a6e4951cd"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "345c6d4d-add0-3516-a98f-f881c727f3ef",
        "instanceIdentifier": "5fda3e22-018e-1000-6650-66a51f816f18",
        "name": "",
        "source": {
          "id": "e7da5d42-babc-3da4-9b1f-6f4d9a8a8b8c",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "ListS3",
          "comments": "",
          "instanceIdentifier": "5f9aa62d-018e-1000-cdd7-62311db521ce"
        },
        "destination": {
          "id": "2abd6e8d-a013-39f6-8c9f-e875a6fe2ff7",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "5fd9e78d-018e-1000-11d5-66cb469003b9"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "a10d216b-5081-3ccb-b285-fe60f4b7d867",
        "instanceIdentifier": "602d036b-018e-1000-6fac-7d7bc562b7ff",
        "name": "",
        "source": {
          "id": "db39ddd7-eb0a-38ba-bfac-af2ef042304e",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "FetchS3Object",
          "comments": "",
          "instanceIdentifier": "5f9abc26-018e-1000-2c25-7b163d38278c"
        },
        "destination": {
          "id": "47d7220f-422d-3a09-9ee8-61227efc13f0",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "5fad93ff-018e-1000-f38e-6479bd421a84"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "d1dcdf9b-8b7d-3c70-ba79-e822fd7c6a1e",
        "instanceIdentifier": "5fddf017-018e-1000-ffa8-7c1a0bcd36d2",
        "name": "",
        "source": {
          "id": "2abd6e8d-a013-39f6-8c9f-e875a6fe2ff7",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "5fd9e78d-018e-1000-11d5-66cb469003b9"
        },
        "destination": {
          "id": "db39ddd7-eb0a-38ba-bfac-af2ef042304e",
          "type": "PROCESSOR",
          "groupId": "c29b403a-af36-31e0-8c26-7d8ce0633c03",
          "name": "FetchS3Object",
          "comments": "",
          "instanceIdentifier": "5f9abc26-018e-1000-2c25-7b163d38278c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "not_a_folder"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "1810fd72-2781-3752-a19e-ebc1a20f43ba",
        "instanceIdentifier": "60013e04-018e-1000-34d8-0ffd96890459",
        "name": "CSVReader",
        "comments": "",
        "type": "org.apache.nifi.csv.CSVReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.25.0"
        },
        "properties": {
          "ignore-csv-header": "true",
          "schema-branch": null,
          "Trim double quote": "true",
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Timestamp Format": null,
          "Escape Character": "\\",
          "Date Format": null,
          "Null String": null,
          "Skip Header Line": "true",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "csv-reader-csv-parser": "commons-csv",
          "Time Format": null,
          "Comment Marker": null,
          "schema-access-strategy": "csv-header-derived",
          "schema-version": null,
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "name": "ignore-csv-header",
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim double quote": {
            "name": "Trim double quote",
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CSV Format": {
            "name": "CSV Format",
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Character": {
            "name": "Quote Character",
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "name": "csvutils-allow-duplicate-header-names",
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Value Separator": {
            "name": "Value Separator",
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Record Separator": {
            "name": "Record Separator",
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Escape Character": {
            "name": "Escape Character",
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null String": {
            "name": "Null String",
            "displayName": "Null String",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Skip Header Line": {
            "name": "Skip Header Line",
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim Fields": {
            "name": "Trim Fields",
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "name": "csv-reader-csv-parser",
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Comment Marker": {
            "name": "Comment Marker",
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-character-set": {
            "name": "csvutils-character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.25.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "ee401f52-9c09-3226-991a-a8188efec5cc",
        "instanceIdentifier": "6009ba45-018e-1000-4357-c799add456b8",
        "name": "CSVRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.25.0"
        },
        "properties": {
          "schema-branch": null,
          "CSV Format": "custom",
          "Quote Character": "\"",
          "Include Header Line": "true",
          "Value Separator": ",",
          "schema-cache": null,
          "Record Separator": "\\n",
          "Timestamp Format": null,
          "Escape Character": "\\",
          "Date Format": null,
          "Schema Write Strategy": "no-schema",
          "Null String": null,
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "Comment Marker": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}",
          "Quote Mode": "MINIMAL",
          "Include Trailing Delimiter": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CSV Format": {
            "name": "CSV Format",
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Character": {
            "name": "Quote Character",
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Header Line": {
            "name": "Include Header Line",
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Value Separator": {
            "name": "Value Separator",
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Record Separator": {
            "name": "Record Separator",
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Escape Character": {
            "name": "Escape Character",
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null String": {
            "name": "Null String",
            "displayName": "Null String",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim Fields": {
            "name": "Trim Fields",
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Comment Marker": {
            "name": "Comment Marker",
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-character-set": {
            "name": "csvutils-character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Mode": {
            "name": "Quote Mode",
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "name": "Include Trailing Delimiter",
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.25.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "adba7f83-5ab7-3516-84dd-3de160add517",
        "instanceIdentifier": "5fb2709d-018e-1000-b913-8cbd2bb42844",
        "name": "DBCPConnectionPool-postgreSQL",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.25.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://database-2-instance-1.testcluster.ap-northeast-1.rds.amazonaws.com:5432/zzengtestdb",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/tmp/nifi/postgresql-42.7.3.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "URL",
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.25.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "9ab6b704-9106-34f4-ac49-6b39ac751b36",
        "instanceIdentifier": "6006281e-018e-1000-8bba-badcb1aa9195",
        "name": "AvroRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.25.0"
        },
        "properties": {
          "compression-format": "NONE",
          "Schema Write Strategy": "avro-embedded",
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "encoder-pool-size": "32",
          "schema-cache": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "encoder-pool-size": {
            "name": "encoder-pool-size",
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.25.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      },
      {
        "identifier": "0ea86d8c-ec60-3311-b090-80f6ac0766ec",
        "instanceIdentifier": "5fa7819f-018e-1000-e598-8c84f8be7391",
        "name": "AWSCredentialsProviderControllerService-poc",
        "comments": "",
        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.25.0"
        },
        "properties": {
          "profile-name": null,
          "assume-role-proxy-host": null,
          "default-credentials": "false",
          "Session Time": "3600",
          "assume-role-proxy-port": null,
          "assume-role-ssl-context-service": null,
          "assume-role-sts-signer-override": "Default Signature",
          "custom-signer-class-name": null,
          "Assume Role ARN": null,
          "custom-signer-module-location": null,
          "Assume Role Session Name": null,
          "assume-role-sts-endpoint": null,
          "assume-role-sts-region": "us-west-2",
          "Credentials File": null,
          "assume-role-external-id": null,
          "anonymous-credentials": "false"
        },
        "propertyDescriptors": {
          "profile-name": {
            "name": "profile-name",
            "displayName": "Profile Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "assume-role-proxy-host": {
            "name": "assume-role-proxy-host",
            "displayName": "Assume Role Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "default-credentials": {
            "name": "default-credentials",
            "displayName": "Use Default Credentials",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Session Time": {
            "name": "Session Time",
            "displayName": "Assume Role Session Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "assume-role-proxy-port": {
            "name": "assume-role-proxy-port",
            "displayName": "Assume Role Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "assume-role-ssl-context-service": {
            "name": "assume-role-ssl-context-service",
            "displayName": "Assume Role SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "assume-role-sts-signer-override": {
            "name": "assume-role-sts-signer-override",
            "displayName": "Assume Role STS Signer Override",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "custom-signer-class-name": {
            "name": "custom-signer-class-name",
            "displayName": "Custom Signer Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Assume Role ARN": {
            "name": "Assume Role ARN",
            "displayName": "Assume Role ARN",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "custom-signer-module-location": {
            "name": "custom-signer-module-location",
            "displayName": "Custom Signer Module Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "Assume Role Session Name": {
            "name": "Assume Role Session Name",
            "displayName": "Assume Role Session Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "assume-role-sts-endpoint": {
            "name": "assume-role-sts-endpoint",
            "displayName": "Assume Role STS Endpoint Override",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "assume-role-sts-region": {
            "name": "assume-role-sts-region",
            "displayName": "Assume Role STS Region",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "assume-role-external-id": {
            "name": "assume-role-external-id",
            "displayName": "Assume Role External ID",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "anonymous-credentials": {
            "name": "anonymous-credentials",
            "displayName": "Use Anonymous Credentials",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-aws-service-api-nar",
              "version": "1.25.0"
            }
          },
          {
            "type": "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-aws-service-api-nar",
              "version": "1.25.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c29b403a-af36-31e0-8c26-7d8ce0633c03"
      }
    ],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}